.productsBlock {
  list-style-type: none;
  margin: 0px 50px;
  padding: 0px;
}

.productItem {
  position: relative;
  top: 22px;
  margin: 7px 0px -9px 0px;
  padding: 8px 12px 8px 12px;
  display: inline;
  cursor: pointer;
}

.ratingBlock {
  position: relative;
  margin-left: 120px;
}

.ratingCategoryBlock {
  list-style-type: none;
  margin: 0px 0px 20px 100px;
}

.ratingCategory {
  display: inline-block;
  margin: 0px 10px 0px 27px;
  padding: 8px;
  cursor: pointer;
}

#container {
  font-family: Helvetica;
  font-size: 21px;
  margin: 50px 0px 0px 50px;
}

.highlight {
  background: #DCE4EC;
  border: solid 1px #C4CFEC;
}

.selectedRadio {
  background: #DCE4EC;
  border: solid 1px #C4CFEC;
}

.radioBlock {
  list-style-type: none;
  margin: 0px 0px 0px 90px;
}

.radioItem {
  display: inline;
  margin: 0px 92px 20px 14px;
}