ul {
  list-style-type: none;
  margin: 10px 50px 30px;
  padding: 0px;
  width: 100px;
}

.expandLinks, .contractLinks {
  color: blue;
  cursor: pointer;
}

.highlight {
  background: black;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 4px;
  border: solid 1px;
  border-radius: 5px;
}